header {
    background-color: black;
}
a {
    color: #fff;
}
.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-logo {
    font-size: 45px;
}

.nav-link {
    /* margin-top: 10px; */
    transition: 0.7s ease;
}

.nav-link:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}



/*  INPUT THINGZZZzzzzzzzzzzzzzzzzzzzz */


.whole-box {
    margin: 50px
}

.spanforinput {
    display: block;
    margin-bottom: 20px;
}

.inputClass {
    border: 2px solid yellow;
    max-width: 200px;
    width: 100%;
    height: 30px;
}

.inputClass:focus::placeholder {
    color: transparent;
}

.button {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: green;
}

.ghost-ul {
    padding: 15px;
    list-style-type: circle;
    margin-top: 20px;
}


.new-li {
    margin-top: 10px;
}

.fa-ban {
    color: red;
    margin-left: 10px;
    font-size: 20px;
}


.liUser {
    font-size: 25px;
    color: red;
}